*
!Cargo.toml
!Cargo.lock
!core/
!core/**
!daemon/
!daemon/**
!clients/
clients/**
!clients/ruby/
!clients/ruby/**
!clients/ubuntu/Cargo.toml
!connectors/
!connectors/tcp/
!connectors/tcp/**
!connectors/server/
!connectors/server/**
!testbench/
!testbench/**
**/.*
**/*.md
**/target
**/build
**/vendor
**/__pycache__
**/*.log
**/*.tmp
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/credentials.json
**/secrets.json
