<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>SKVOZ</vendor>
  <action id="org.skvoz.network.manage">
    <description>Manage a SKVOZ network connection</description>
    <description xml:lang="ru">Управление соединением SKVOZ</description>
    <message>Authentication is required to manage the SKVOZ network connection</message>
    <message xml:lang="ru">Для управления соединением SKVOZ требуется подтверждение администратора</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
